#jinja2: lstrip_blocks: "True"
#### Blue Banquise file ####
## {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

## Internal hosts

{% for host in hostvars | bluebanquise.dynamic_variables.extract_hosts(inventory_hostname) %}
  {% if host['aliases'] is defined and host['aliases'] %}
{{ host['ip4'] }} {{ host['hostname'] | join(' ') }} {{ host['aliases'] | join(' ') }}
  {% else %}
{{ host['ip4'] }} {{ host['hostname'] | join(' ') }}
  {% endif %}
{% endfor %}

## External hosts

{% if external_hosts is defined and external_hosts %}
  {% for host in external_hosts %}
{{external_hosts[host]}} {{host}}
  {% endfor %}
{% endif %}
